<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Books Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div>
    <h1>Books Manager</h1>
    <a class="waves-effect waves-light btn" href="/book/new"><i class="material-icons left">add</i> New Book</a>
    <br/><br/>
    <table class="striped highlight centered responsive-table">

        <thead>
        <tr>
            <th hidden>Book ID</th>
            <th>Book Title</th>
            <th>Authors</th>
            <th>Publishers</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="book : ${listBooks}">
            <td hidden><span th:text="${book.bookID}"> ID </span></td>
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.authors}"> Authors </span></td>
            <td><span th:text="${book.publisher}"> Publisher </span></td>
            <td><span th:text="${book.isbn}"> ISBN </span></td>
            <td><span th:text="${book.genre}"> Genre </span></td>
            <td><span th:text="${book.year}"> Year </span></td>
            <td><span th:text="${book.price}"> Price </span></td>
            <td><span th:text="${book.stock}"> Stock </span></td>

            <td>
                <a class="waves-effect waves-light btn" th:href="@{'/book/edit/' + ${book.bookID}}"><i
                        class="material-icons left">edit</i> Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light red btn" th:href="@{'/book/delete/' + ${book.bookID}}"><i
                        class="material-icons left">delete</i> Delete</a>
            </td>

        </tr>
        </tbody>
    </table>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>