<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Publisher Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1>Publisher Manager</h1>
    <a class="waves-effect waves-light btn" href="/publisher/new"><i class="material-icons left">add</i> New Author</a>
    <br/><br/>
    <table border="1" cellpadding="10">

        <thead>
        <tr>
            <th hidden>Publisher ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="publisher : ${listPublishers}">
            <td hidden><span th:text="${publisher.publisherID}"> ID </span></td>
            <td><span th:text="${publisher.name}"> Name </span></td>
            <td>
                <a class="waves-effect waves-light btn" th:href="@{'/publisher/edit/' + ${publisher.publisherID}}"><i
                        class="material-icons left">edit</i> Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light red btn"
                   th:href="@{'/publisher/delete/' + ${publisher.publisherID}}"><i
                        class="material-icons left">delete</i> Delete</a>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>

</html>